# exclude everything except what we specifically say (work as white list)
/*

# Whitelisted folders and files
!README.md
!EnvironmentOps.txt
!.gitignore
!/test
!/pages
!/old_pages
!/components
!/helpers
!package.json
!routes.js
!server.js
!Addresses.txt

# Allow contracts to be tracked but not .json files of them
!/ethereum
/ethereum/build
