# exclude everything except what we specifically say (work as white list)
/*

# Whitelisted folders and files
!README.md
!EnvironmentOps.txt
!.gitignore
!/test
!/pages
!/components
!/helpers
!package.json

# Allow contracts to be tracked but not .json files of them
!/ethereum
/ethereum/build
